<div class="container">
  <h4 class="text-center font-weight-bold">マイページ</h4>
  <div class="row-justify-content-center">
    <div class"col-xs-offset-11 col-xs-1">
      <h5 class="text-left">登録情報一覧</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>名前</th>
            <td class="text-left"><%= @customer.full_name %></td>
          </tr>
          <tr>
            <th>カナ</h>
            <td class="text-left"><%= @customer.kana_full_name %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td class="text-left"><%= @customer.address %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td class="text-left"><%= @customer.postcode %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td class="text-left"><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td class="text-left"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する", customers_edit_path, class: "btn btn-success btn-block" %></p>
      <div class="text-center">
        <p><strong>配送先</strong>
        <%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-info" %>
        <strong>注文履歴</strong>
        <%= link_to "一覧をみる", orders_path, class: "btn btn-info" %>
        <strong>トップ</strong>
        <%= link_to "トップ画面に戻る", root_path, class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>