<div class="top-image"><image src="assets/cream-puffs.jpg" width="100%" height="450"></div>
<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h4 class="text-center">ようこそ、NaganoCakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
      </h4>
    </div>
  </div>
  <h3 class="font-weight-bold">新着商品</h3>
  <div class="row">
    <!-- 商品を新着順に4つ表示するようにする -->
    <% @items.last(4).each do |item| %>
      <div class="col-3 col-xs-offset-1 mt-3">
        <div class=" card text-dark bg-light" >
          <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
            <div class="card-img-top"><%= image_tag item.item_image,width:"100%", height:"150px" %></div>
            <h5 class="card-title font-weight-bold"><%= item.name %></h5>
            <div class="card-text text-right font-weight-bold">¥<%= item.price_without_tax.to_s(:delimited, delimiter: ',') %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-right"><%= link_to "全ての商品を見る >>", items_path %></div>
</div>
