<div class="container">
  <div class="row-justify-cintent-center">
    <div class="col-xs-12">
      <h2 class="text-center">配送先編集</h2>
      <%= flash[:notice] %>
      <%= form_with model: @shipping_address do |f| %>
      <table class="table">
        <tr>
          <th><%= f.label :"郵便番号" %></th>
          <td><%= f.text_field :post_code, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td><%= f.text_field :address, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :"宛名" %></th>
          <td><%= f.text_field :name, class:"form-control" %></td>
        </tr>
      </table>
      <div class="field address">
        <%= f.submit "更新する", class: "btn btn-sm btn-success btn-block" %>
      </div>
      <% end %>
      <div class="text-right mt-5">
        <%= link_to "前の画面に戻る", shipping_addresses_path, class: "btn btn-sm btn-light font-weight-bold" %>
      </div>
    </div>
  </div>
</div>