<h2>会員情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>
  
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "編集内容を保存", class: "btn btn-success btn-lg" %>
  </div>
<% end %>

<%= link_to "1つ前に戻る", :back, class: "btn btn-seccondary btn-lg" %>

<%= link_to "退会する", custormers_unsubscribe_path, class: "btn btn-danger btn-sm" %>
